alias cl='clear'
alias scpr='scp -r'
alias clip='xclip -sel clip'
alias rsyncp='rsync -avh --info=progress2'
alias ipa='ip -c a'

# git
alias git_tree='git log --graph --pretty=oneline --abbrev-commit'
alias gpl='git pull -t;'
alias gf='git fetch'
alias gp='git push'
alias ga='git add -u'
alias gamend='git commit --amend'
alias gpm='git switch master; git pull -t; git switch -'
alias mgits='mgit . --show -s'
alias gpnb='git rev-parse --abbrev-ref HEAD | xargs -I {} git push --set-upstream origin {}'
alias gcp='git cherry-pick'
alias gpf='git push --force-with-lease'
alias gsm='git switch master'
alias gds='git diff --stat'
alias gstash='git stash -k -u'
alias gpop='git stash pop'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias lg='lazygit'

# 7s PER development
alias dev_go='cd ~/ros2_ws/src;'
alias conf_go='cd ~/clonestuff/7s_configuration;'
alias clo_go='cd ~/clonestuff;'
alias proc_go='cd ~/ros2_ws/src/7s_image_processing;'
alias img_go='cd ~/ros2_ws/src/7s_image_definitions;'
alias spell_check='cspell lint --no-progress --reporter default'

# 7s LOC devel
alias ac='rosrun atlas_console atlas_console'
alias map_app_dev='rosrun mapping_app mapping_app_dev.py'

# Debugging
alias vtune_go='source /opt/intel/oneapi/vtune/latest/amplxe-vars.sh; echo "use vtune-gui?"'
alias vtune_command='echo "vtune -collect hotspots roslaunch <arguments>"'
alias config_vtune_activate='catkin config --cmake-args -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-fdiagnostics-color -g -fno-omit-frame-pointer" -DENABLE_TIMING=1 -DENABLE_STATISTICS=1 -O2'
alias core_dumps_activate='echo "the core dump files will be created in the directory you run the process from"; ulimit -c unlimited; sudo bash -c "echo 1 > /proc/sys/kernel/core_uses_pid";'

# rbb
alias rbb_go='cd ~/rbb2_ws/src'

# apt
alias up_go='sudo apt update && sudo apt -y upgrade; exit'
alias up_and_off='sudo apt update && sudo apt -y upgrade; poweroff'

# wtf
alias wtf_codecompletion='echo "handle-symlinks-for-clangd-code-completion --action update --workspace-dir ~/catkin_ws --catkin-profile code_completion"'
alias wtf_grep='echo "grep pattern -rn /path"'
alias wtf_find='echo "find /path -name pattern 2>/dev/null"'
alias wtf_zip='echo "tar -xvz -f archive.tar.gz -C /location"'
alias wtf_machine_class='echo "/usr/local/etc/sevensense/machine_classes.list"'
alias wtf_cspell='echo "cspell lint --no-progress --show-context /path/to/directory"'
alias wtf_include='echo "grep -rh '#include' path/to/my_package | sort -u"'

# ls
#alias l='ls -ltrAh'
# exa, a better ls
alias ls='exa --icons --git -lagh@'
alias lt='exa --icons --git -lagh@TL 3'
alias lsn='ls --sort newest'
alias lss='ls --sort size'

# cat
alias cat='batcat'
alias cats='batcat --style plain --paging=never'

# journal
alias journal='journalctl -xefa'

# 7s-wakeup inverse
alias suspend_go='systemctl suspend && exit'

# 7s tools
alias 7s_hyper='. <(curl https://7si.sh)'

# python
alias ipython='python -m IPython'

# add aliases
alias add_alias='vim /home/thomas/.aliases'

# tmux
alias ta='tmux attach'
alias mux='tmuxinator'

